@charset "ISO-8859-1";
body{
         background-image:url(https://cdn.pixabay.com/photo/2017/10/25/03/40/guitar-2886886_640.jpg);
         background-repeat:no-repeat;
         background-position:center;
          background-size:cover;


          }
         .name{
             text-align:center;
             color:white;
            }
         .subtitle{ 

            color:rgb(242, 73, 126);


          /*245, 110, 191--pink
                     */

        }

             .buttons{
                 border:1px solid white;
                  border-radius:5px;
                  padding:10px;
                  
                  text-align:center;
                  transition-duration:0.9s;
                 curser:pointer;
                  margin-bottom:20px;
                  
                    }
                    .button-anchor{
                    text-decoration:none;
                    color:black;
                    }
                    .buttons:hover{
                    background-color:rgb(242, 73, 126);
                    border: 1px solid rgb(242, 73, 126);
                      }
                      .button-anchor :hover{
                      color:black;
                      }
                   .floaters{
                   
                 
                    position: relative;
                    padding-left:80%;
                    padding-top:40px;
                    
                   
                   
                   }
                   .moto{
                   width:400px;
                   height:100px;
                   }
                   .moto h2{
                   color:rgb(242, 73, 126);
                   }
                   .moto p{
                   padding-left:40px;
                   color:rgb(245, 240, 244);
                   
                   }
                   /*         #7ca1cf*/
                   