<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- Required meta tags -->
    <meta charset="UTF-8">
    <title>Register - Tune Hub</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- External CSS -->
    <link href="welcome.css" rel="stylesheet">
    <link href="card.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/tunehub">TuneHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/map-addsongs">AddSongs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map-createplaylist">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map-viewsongs">ViewSongs</a>
        </li>
      </ul>
      <span class="navbar-text"><a href="/map-viewplaylist"> ViewPlayList</a></span>
      <span class="navbar-text"><a href="/map-login"> logout</a>
       
      </span>
      
    </div>
  </div>
</nav>

<div  class="card">
  <img src="https://c8.alamy.com/comp/2A4PEXA/a-businessman-stands-on-a-stepladder-and-paints-a-word-success-on-a-green-background-with-a-paint-roller-2A4PEXA.jpg" alt="  success picture" class="card__img">
  <span class="card__footer">
    <span>playlist Deleted Successfully</span>
    <span>Go And check</span>
  </span>
  
</div>



</body>
</html>